<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand">Marek Bednarczyk - "Lepsza wersja My gists"</a>
  </div>
</div>
<div class="container">
  <div class="hero-unit">
<p id="notice"><%= notice %></p>

<p>
  <strong>Język</strong>
  <%= @gist.lang %>
</p>
<p>
  <strong>Wrzutka:</strong>
</p>
<%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>
<p>
  <strong>Opis:</strong>
  <%= @gist.description %>
</p>
<div class="btn-group btn-group-xs">
<button type="button" class="btn btn-default"><%= link_to 'Edytuj', edit_gist_path(@gist) %> </button>
<button type="button" class="btn btn-default"><%= link_to 'Powrót', gists_path %> </button>
</div>
</div>
</div>